
InventoryManagement/CodeProject.InventoryManagement.BusinessRules/bin
InventoryManagement/CodeProject.InventoryManagement.BusinessRules/obj
InventoryManagement/CodeProject.InventoryManagement.Data.EntityFramework/bin
InventoryManagement/CodeProject.InventoryManagement.Data.EntityFramework/obj
InventoryManagement/CodeProject.InventoryManagement.BusinessServices/bin
InventoryManagement/CodeProject.InventoryManagement.BusinessServices/obj
InventoryManagement/CodeProject.InventoryManagement.Data.Models/obj
InventoryManagement/CodeProject.InventoryManagement.Data.Models/bin
InventoryManagement/CodeProject.InventoryManagement.Interfaces/bin
InventoryManagement/CodeProject.InventoryManagement.Interfaces/obj
InventoryManagement/CodeProject.InventoryManagement.WebApi/bin
InventoryManagement/CodeProject.InventoryManagement.WebApi/obj
SalesOrderManagement/CodeProject.SalesOrderManagement.BusinessRules/bin
SalesOrderManagement/CodeProject.SalesOrderManagement.BusinessRules/obj
SalesOrderManagement/CodeProject.SalesOrderManagement.Data.EntityFramework/bin
SalesOrderManagement/CodeProject.SalesOrderManagement.Data.EntityFramework/obj
SalesOrderManagement/CodeProject.SalesOrderManagement.BusinessServices/bin
SalesOrderManagement/CodeProject.SalesOrderManagement.BusinessServices/obj
SalesOrderManagement/CodeProject.SalesOrderManagement.Data.Models/obj
SalesOrderManagement/CodeProject.SalesOrderManagement.Data.Models/bin
SalesOrderManagement/CodeProject.SalesOrderManagement.Interfaces/bin
SalesOrderManagement/CodeProject.SalesOrderManagement.Interfaces/obj
SalesOrderManagement/CodeProject.SalesOrderManagement.WebApi/bin
SalesOrderManagement/CodeProject.SalesOrderManagement.WebApi/obj
AccountManagement/CodeProject.AccountManagement.BusinessRules/bin
AccountManagement/CodeProject.AccountManagement.BusinessRules/obj
AccountManagement/CodeProject.AccountManagement.Data.EntityFramework/bin
AccountManagement/CodeProject.AccountManagement.Data.EntityFramework/obj
AccountManagement/CodeProject.AccountManagement.BusinessServices/bin
AccountManagement/CodeProject.AccountManagement.BusinessServices/obj
AccountManagement/CodeProject.AccountManagement.Data.Models/obj
AccountManagement/CodeProject.AccountManagement.Data.Models/bin
AccountManagement/CodeProject.AccountManagement.Interfaces/bin
AccountManagement/CodeProject.AccountManagement.Interfaces/obj
AccountManagement/CodeProject.AccountManagement.WebApi/bin
AccountManagement/CodeProject.AccountManagement.WebApi/obj



