
<app-sales-order-management-nav-bar></app-sales-order-management-nav-bar>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Customer Maintenance</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form>

      <div>
        <mat-form-field style="width:300px">
          <input [disabled]="readonlyMode" matInput name="CustomerName" value="{{customerViewModel.customerName}}" 
          [(ngModel)]="customerViewModel.customerName" placeholder="Customer Name">
        </mat-form-field>
      </div>

      
      <div>
        <mat-form-field style="width:300px">
          <input [disabled]="readonlyMode" matInput name="AddressLine1" value="{{customerViewModel.AddressLine1}}" 
          [(ngModel)]="customerViewModel.addressLine1" placeholder="Address Line 1">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width:300px">
          <input [disabled]="readonlyMode" matInput name="AddressLine2" value="{{customerViewModel.AddressLine2}}" 
          [(ngModel)]="customerViewModel.addressLine2" placeholder="Address Line 2">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width:300px">
          <input [disabled]="readonlyMode" matInput name="City" value="{{customerViewModel.city}}" 
          [(ngModel)]="customerViewModel.city" placeholder="City">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width:300px">
          <input [disabled]="readonlyMode" matInput name="Region" value="{{customerViewModel.region}}" 
          [(ngModel)]="customerViewModel.region" placeholder="State/Region">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width:300px">
          <input [disabled]="readonlyMode" matInput name="PostalCode" value="{{customerViewModel.postalCode}}" 
          [(ngModel)]="customerViewModel.postalCode" placeholder="Postal Code">
        </mat-form-field>
      </div>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="readonlyMode==false" mat-flat-button color="primary" (click)="editCustomer()">Edit Customer</button>&nbsp;
    <button [disabled]="readonlyMode==true" mat-flat-button color="primary" (click)="createOrUpdateCustomer()">Save Customer</button>&nbsp;
    <button [disabled]="createMode==true" mat-flat-button color="primary"  (click)="createNewCustomer()">Create New Customer</button>&nbsp;
    <button [disabled]="createMode==true || readonlyMode==false" mat-flat-button color="primary" (click)="createSalesOrder()">Create Sales Order</button>
  </mat-card-actions>
</mat-card>
