
<app-sales-order-management-nav-bar></app-sales-order-management-nav-bar>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Customer Inquiry</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>


    <form #form="ngForm">

      <div>
        <mat-form-field style="width:300px">
          <input matInput name="Name" #searchField value="{{customerInquiryViewModel.customerName}}"
           [(ngModel)]="customerInquiryViewModel.customerName"
            placeholder="Customer Name">
        </mat-form-field>
        &nbsp;
        <button mat-flat-button color="primary" (click)="resetSearch()">Reset</button>&nbsp;
      </div>

    </form>

    <mat-paginator [length]="customerInquiryViewModel.totalCustomers" [showFirstLastButtons]="true" [pageIndex]="customerInquiryViewModel.currentPageIndex"
      [pageSize]="customerInquiryViewModel.pageSize" [pageSizeOptions]="customerInquiryViewModel.pageSizeOptions"
      (page)="onPaginateChange($event)"></mat-paginator>

    <table class="table" mat-table [dataSource]="customerInquiryViewModel.customers" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">

      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="CustomerName">
            Customer Name
         </th>
        <td mat-cell *matCellDef="let element">
           <span class="table-responsive-custom">Customer Name:&nbsp;</span>
          {{element.customerName}} </td>
      </ng-container>

      <ng-container matColumnDef="addressLine1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="AddressLine1"> Address Line 1 </th>
        <td mat-cell *matCellDef="let element">
            <span class="table-responsive-custom">Address Line 1:&nbsp;</span>
          {{element.addressLine1}} </td>
      </ng-container>

      <ng-container matColumnDef="addressLine2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="AddressLine2"> Address Line 2 </th>
        <td mat-cell *matCellDef="let element">
            <span class="table-responsive-custom">Address Line 2:&nbsp;</span>
          {{element.addressLine2}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="City"> City </th>
        <td mat-cell *matCellDef="let element">
          <span class="table-responsive-custom">City:&nbsp;</span>
          {{element.city}} </td>
      </ng-container>

      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="Region"> State </th>
        <td mat-cell *matCellDef="let element">
            <span class="table-responsive-custom">State:&nbsp;</span>
           {{element.region}} </td>
      </ng-container>

      <ng-container matColumnDef="postalCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="PostalCode"> Postal Code </th>
        <td mat-cell *matCellDef="let element">
            <span class="table-responsive-custom">Postal Code:&nbsp;</span>
           {{element.postalCode}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="customerInquiryViewModel.displayedColumns"></tr>
      <tr style="cursor: pointer;" mat-row *matRowDef="let row; columns: customerInquiryViewModel.displayedColumns; let i = index" (click)="selectCustomer(i)"></tr>
  
    </table>

  </mat-card-content>
  <mat-card-actions>


    <mat-paginator [length]="customerInquiryViewModel.totalCustomers" [showFirstLastButtons]="true" [pageSize]="customerInquiryViewModel.pageSize"
      [pageIndex]="customerInquiryViewModel.currentPageIndex" [pageSizeOptions]="customerInquiryViewModel.pageSizeOptions"
      (page)="onPaginateChange($event)"></mat-paginator>

  </mat-card-actions>
</mat-card>