<mat-toolbar color="accent" style="background-color:brown">
  <div>
    <a mat-list-item>
      <mat-icon class="icon">dashboard</mat-icon>
      <span class="label">Inventory Management</span>
    </a>
  </div>
  <span class="spacer"></span>
  <div style="margin-right:20px;" class="mat-body">
    <a mat-list-item [routerLink]="['/inventorymanagement/product-maintenance']">
      <mat-icon class="icon">dashboard</mat-icon>
      <span class="label">Product Maintenance</span>
    </a>
  </div>
  <div style="margin-right:20px;" class="mat-body">
    <a mat-list-item [routerLink]="['/inventorymanagement/product-inquiry']">
      <mat-icon class="icon">dashboard</mat-icon>
      <span class="label">Product Inquiry</span>
    </a>
  </div>
  <div style="margin-right:20px;" class="mat-body">
    <a mat-list-item [routerLink]="['/inventorymanagement/upload-product-master']">
      <mat-icon class="icon">dashboard</mat-icon>
      <span class="label">Upload Product Master</span>
    </a>
  </div>
  <div style="margin-right:20px;" class="mat-body">
    <a mat-list-item [routerLink]="['/inventorymanagement/sales-order-inquiry']">
      <mat-icon class="icon">dashboard</mat-icon>
      <span class="label">Sales Order Inquiry</span>
    </a>
  </div>
  <div style="margin-right:20px;" class="mat-body">
    <a mat-list-item [routerLink]="['/inventorymanagement/purchase-order-inquiry']">
      <mat-icon class="icon">dashboard</mat-icon>
      <span class="label">Purchase Order Inquiry</span>
    </a>
  </div>

  <div style="margin-right:20px;" class="mat-body">
    <a mat-list-item [routerLink]="['/inventorymanagement/upload-product-master']">
      <mat-icon class="icon">dashboard</mat-icon>
      <span class="label">Upload Product Master</span>
    </a>
  </div>
</mat-toolbar>
